html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #282c34;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  padding: 0 auto;
  font-family: Nunito;
}

h4 {
  font-family: "Nunito Light" !important;
}

a:link {
  color: red !important;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: darkred !important;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: ivory !important;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow !important;
  background-color: transparent;
  text-decoration: underline;
}

#table-comics {
  width: 100% !important;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#comics tr:nth-child(even) {
  background-color: antiquewhite;
}
#comics tr:nth-child(odd) {
  background-color: white;
}
#comics th {
  background-color: crimson;
  color: white;
}

#map {
  height: 100%;
}